<html>
    <head>
        <title>Django Project schedule</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Project schedule</a></h1>
        </div>

        <div>{{ records }}</div>


        <div>
            <p>published: 2019-04-14, 12:00</p>
            <h2><a href="">Задача1</a></h2>
            <p>data start: 2019-04-14, 17:00</p>
            <p>data end: 2019-04-14, 17:30</p>
        </div>

        <div>
            <p>published: 2019-04-14, 12:05</p>
            <h2><a href="">Задача2</a></h2>
            <p>data start: 2019-04-14, 19:00</p>
            <p>data end: 2019-04-14, 19:45</p>
        </div>

        <div>         
            <h2><a href="http://127.0.0.1:8000/admin/">admin_site</a></h2>
            <p>admin_panel</p>
        </div>
    </body>
</html>